{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    All The Movies
{% endblock %}

{% block main %}
    {% for movie_group in movie_list_ordered_by_four %}
        <div class="container">

            <div class="d-flex flex-row">
                {% for movie in movie_group %}
                <a href="{% url 'core:MovieDetail' pk=movie.id %}">
                    <div class="col-3">

                        {% if movie.movieimage_set.all %}
                            {% for image in movie.movieimage_set.all %}
                                {% thumbnail image.image "278x371" as im %}
                                    <img src="{{ im.url }}" class="rounded mx-auto d-block">
                                {% endthumbnail %}
                            {% endfor %}
                        {% else %}
                            {% thumbnail default_image.image "278x371" as default %}
                                    <img src="{{ default.url }}" class="rounded mx-auto d-block">
                            {% endthumbnail %}
                        {% endif %}

                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="d-flex flex-row text-center">
                {% for movie in movie_group %}
                <div class="col-3 text-center">
                    {{ movie }}
                </div>
                {% endfor %}
            </div>

            <div class="d-flex flex-row text-center mb-3">
                {% for movie in movie_group %}
                <div class="col-3 text-center">
                {% if movie in user_movies %}
                    <input class="button-movie-{{ movie.id }}-btn btn-success" value="Watched" disabled type="button">
                {% else %}
                    <input id="button-movie-{{ movie.id }}-btn-btn-primary" class="button-movie-{{ movie.id }}-btn btn-primary" value="Add to watched" onclick="AddToWatchList({{  movie.id }})" type="button">
                    <input id="button-movie-{{ movie.id }}-btn-btn-success" class="button-movie-{{ movie.id }}-btn btn-success" value="Watched" type="button" disabled style="display: none;">
                {% endif %}
                </div>
                {% endfor %}
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script>
        function AddToWatchList(movie) {
            $.ajax({
                type: "get",
                url: "{% url 'core:AddToWatchedList'%}",
                data : { user : {{ user.id }}, movie : movie},
                success: function(data){
                    if (data.status) {
                        $("#button-movie-" + movie + "-btn-btn-primary").hide();
                        $("#button-movie-" + movie + "-btn-btn-success").show();
                        }
                    },
                    error: function(){
                        alert("error");
                    }
                });
            }
    </script>

{% endblock %}

    {% comment %}
    <div class="container">
        {% for movie in object_list %}
            {% if forloop.first %}
                <div class="d-flex flex-row">
            {% endif %}
        <a href="{% url 'core:MovieDetail' pk=movie.id %}">
            <div class="col-3">
                <div class="d-flex flex-row">
                    {% if movie.movieimage_set.all %}
                    {% endif %}
                    {% if movie.movieimage_set.all %}
                        {% for image in movie.movieimage_set.all %}
                            {% thumbnail image.image "400x500" as im %}

                                <img src="{{ im.url }}" class="rounded mx-auto d-block">


                            {% endthumbnail %}
                        {% endfor %}
                    {% else %}

                        {% thumbnail default_image.image "400x500" as default %}

                            <img src="{{ default.url }}" class="rounded mx-auto d-block">


                        {% endthumbnail %}

                    {% endif %}

                </div>
        </a>
        <div class="flex-row text-center">
            {{ movie }}
        </div>

        <div class="flex-row text-center">
            {% if movie in user_movies %}
                <input class="button-movie-{{ movie.id }}-btn btn-success" value="Watched" disabled type="button">
            {% else %}
                <input id="button-movie-{{ movie.id }}-btn-btn-primary" class="button-movie-{{ movie.id }}-btn btn-primary" value="Add to watched" onclick="AddToWatchList({{  movie.id }})" type="button">
                <input id="button-movie-{{ movie.id }}-btn-btn-success" class="button-movie-{{ movie.id }}-btn btn-success" value="Watched" type="button" disabled style="display: none;">
            {% endif %}
        </div>

        </div>





            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="d-flex flex-row">
            {% endif %}

        {% if forloop.last %}
            </div>
        {% endif %}

        {% endfor %}



{% endblock %}

{% block javascript %}
    <script>
        function AddToWatchList(movie) {
            $.ajax({
                type: "get",
                url: "{% url 'core:AddToWatchedList'%}",
                data : { user : {{ user.id }}, movie : movie},
                success: function(data){
                    if (data.status) {
                        $("#button-movie-" + movie + "-btn-btn-primary").hide();
                        $("#button-movie-" + movie + "-btn-btn-success").show();
                        }

                    },
                    error: function(){
                        alert("error");
                    }
                });
            }
    </script>
{% endcomment %}


